// Resets
* {
  margin: 0;
  padding: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: none;
}

// Variables
$purple: #f900f9;
$black: #000000;
$very-dark-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);

body {
  font-family: "Rubik", sans-serif;
}
